@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Couture";
  src: url("fonts/couture-bld.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PTSerif";
  src: url("fonts/PT_Serif-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

